# Username of the account the bot will run on.
TWITCH_USERNAME=mycooltwitchusername

# oauth token can be generated here: https://twitchapps.com/tmi/
TWITCH_OAUTH=oauth:cooloauthtokenhere

# Comma seperated list of twitch channels the bot should join (no spaces)
TWITCH_CHANNELS=channelone,channeltwo,channelthree
