# Username of the account the bot will run on.
TWITCH_USERNAME=mycooltwitchusername

# oauth token can be generated here: https://twitchapps.com/tmi/
TWITCH_OAUTH=oauth:cooloauthtokenhere

# Comma seperated list of twitch channels the bot should join (no spaces)
TWITCH_CHANNELS=channelone,channeltwo,channelthree

# Ollama model that you want to use. https://ollama.com/models
OLLAMA_MODEL=wizard-vicuna-uncensored

# There are three context models to choose from, think of it like chat history. 
# Each context is only stored until the bot is restarted. 
# Huge context will probably slow the bot down.
#
# OLLAMA_CONTEXT must be one of those three:
# none: No additional message context is provided to ollama
# general: Each message sent to ollama will be added to a general context store and provided on the next use.
# user: Each user gets their own context store from their previous interactions.
#
# "none" uses the /api/generate endpoint, "general" and "user" the /api/chat endpoint
# More information: 
#  /api/generate https://github.com/ollama/ollama/blob/main/docs/api.md#generate-a-completion
#  /api/chat https://github.com/ollama/ollama/blob/main/docs/api.md#generate-a-chat-completion
OLLAMA_CONTEXT=user

# OLLAMA_SYSTEM provides general instructions to the ai model that it should follow.
# For example Twitch chat messages have a character limit of 500 characters and so on.
# Think of it like options. It doesn't follow them all the time tho, honestly no idea how.
OLLAMA_SYSTEM=You are a Twitch chat bot and interact with users in an irc like environment. Do not use any formatting. Be human-like. Never fail to answer the user. Always answer immediately. Most importantly keep your response shorter than 450 characters.
